<header class="header">
    <a href="index.html">
        <img class="header__logo" src="assets/img/logo.png" alt="Logo">
    </a>
</header>

<nav class="navigation">
    <a class="navigation__link" routerLink="/">Store</a>
    <a class="navigation__link navigation__link--active" routerLink="/us">About Us</a>
</nav>

<main class="container">
    <h1>About Us</h1>

    <div class="about-us">
        <div class="about-us__content">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores laboriosam iure eligendi corporis repudiandae! Nobis quam, iste quibusdam soluta architecto sapiente nulla ullam nihil, officiis perspiciatis accusamus distinctio, est assumenda!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores laboriosam iure eligendi corporis repudiandae! Nobis quam, iste quibusdam soluta architecto sapiente nulla ullam nihil, officiis perspiciatis accusamus distinctio, est assumenda!
            </p>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores laboriosam iure eligendi corporis repudiandae! Nobis quam, iste quibusdam soluta architecto sapiente nulla ullam nihil, officiis perspiciatis accusamus distinctio, est assumenda!
            </p>
        </div>

        <img class="about-us__image" src="assets/img/nosotros.jpg" alt="">

    </div>
</main>

<footer class="footer">
    <p class="footer__text">Front End Store - All rights reserved 2022.</p>
</footer>