<header class="header">
    <a href="index.html">
        <img class="header__logo" src="./assets/img/logo.png" alt="Logo">
    </a>
</header>

<nav class="navigation">
    <a class="navigation__link navigation__link--active" routerLink="/">Store</a>
    <a class="navigation__link" routerLink="/us">About Us</a>
</nav>

<main class="container">
    <h1>React JS</h1>

    <div class="shirt">
        <img class="shirt__image" src="assets/img/3.jpg" alt="Product image">

        <div class="shirt__content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quas, aliquid. Nostrum ipsum nesciunt corporis quos 
                cumque odio earum sed. Alias eligendi architecto vitae 
                inventore quod molestiae cupiditate deserunt pariatur laboriosam.
            </p>

            <form class="form">
                <select name="" id="">
                    <option value="" disabled selected>-- Select Option --</option>
                    <option value="">Small</option>
                    <option value="">Mid</option>
                    <option value="">Big</option>
                </select>
                <input type="number" placeholder="Quantity" min="1">
                <input type="submit" value="Agregar al Carrito">
            </form>
        </div>
    </div>
</main>

<footer class="footer">
    <p class="footer__text">Front End Store - All rights reserved 2022.</p>
</footer>